@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView> 
    <Authorized>
        <p>Hola @context.User.Identity?.Name</p>
        <p>Bienvenido, sos un usuario autenticado.</p>
    </Authorized>

    <NotAuthorized>
        <p>Hola, este usuario no esta autenticado por favor vuelve a realizar el login.</p>
    </NotAuthorized>

</AuthorizeView>

