@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView> 
    <Authorized>
        <p>Hola @context.User.Identity?.Name</p>
        <p> @context.User.Identity?.AuthenticationType</p>
        <p>Bienvenido, sos un usuario autenticado.</p>

        @foreach (var item in context.User.Claims)
        {
            <tr> 
                <td>@item.Value</td>
            </tr>
        }
)
    </Authorized>

    <NotAuthorized>
        <p>Hola, este usuario no esta autenticado por favor vuelve a realizar el login.</p>
    </NotAuthorized>

</AuthorizeView>

