Componente para controlar la autenticación

<AuthorizeView>
    <Authorized>
        <span>Hola, @context.User.Identity!.Name</span>
        <a href="logout" class="nav-link btn-link"> Logout</a>

    </Authorized>
    <NotAuthorized>
        <a href="registrar" class="nav-link btn-link"> Registrar</a>
        <a href="login" class="nav-link btn-link"> Login</a>
        </NotAuthorized>
       
</AuthorizeView>
